%h4= t('resultados_jornada_acb', round: CURRENT_ROUND.to_i-1)
%table.table.table-striped
  - @games_previous_round.each do |game|
    %tr
      %td=link_to game.local_team.short_code, game.local_team, :"title" => game.local_team.name
      %td=link_to "32", game, :"title" => "#{t('estadisticas')} #{game.local_team.name} - #{game.away_team.name}"
      %td=link_to "34", game, :"title" => "#{t('estadisticas')} #{game.local_team.name} - #{game.away_team.name}"
      %td=link_to game.away_team.short_code, game.away_team, :"title" => game.away_team.name
