%td{colspan: 7}
  = form_for @statistic, url: @statistic.new_record? ? statistics_path : statistic_path(@statistic), remote: true, html: {class: "form-horizontal"} do |f|
    .form-group
      .col-md-3.control-label= f.label "Player"
      .col-md-5= @statistic.player
    .form-group
      .col-md-3.control-label= f.label "Position"
      .col-md-5= @statistic.player.position.text
    .form-group
      .col-md-3.control-label= f.label "Team"
      .col-md-5= @statistic.player.team
    .form-group
      .col-md-3.control-label= f.label "Season"
      .col-md-5= f.text_field :season, class: 'string form-control'
    .form-group
      .col-md-3.control-label= f.label "Statistics"
      .col-md-9
        .table-responsive
          %table.table
            %thead
              %th
              - Statistic.fields.each do |field|
                %th= t("#{field}")
            
              %tbody
                - (1..Statistic.num_games).each do |week|
                  %tr
                    %td= week
                    - week = @statistic.send("week_"+week.to_s)
                    - Statistic.fields.each do |field|
                      %td= week[field]
                %tr
                  %th= "Promedio"
                  - Statistic.fields.each do |field|
                    %th= @statistic.promedio[field]
                %tr
                  %th= "Total"
                  - Statistic.fields.each do |field|
                    %th= @statistic.total[field]
    .form-group
      .col-md-3
      .col-md-5
        = f.submit "Save", class: "btn btn-primary"
        %button.btn.btn-link.cancel Cancel