<!DOCTYPE html>
<html>
  <head>
    <title>Acbmanager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    Application
    
    <%= render partial: "back/navbar" %>

    <div class="col-xs-12">
        <div class="col-xs-9">

        </div>
        <div class="col-xs-3">
          <div class="container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <div class="login-container">
              <div class="form-box">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
